<?xml version="1.0" encoding="utf-8"?>
<entries>
    <keyInt>12345</keyInt>
    <keyString>StringValue</keyString>
    <keyBoolean>false</keyBoolean>
    <keyDouble>0.54</keyDouble>
    <keyColor>
        <Color>
            <r>234</r>
            <g>234</g>
            <b>42</b>
        </Color>
    </keyColor>
</entries>