<?xml version="1.0" encoding="utf-8"?>
<entries>
    <keyInt>12345</keyInt>
    <keyString>StringValue</keyString>
    <keyBoolean>true</keyBoolean>
    <keyDouble>0.45</keyDouble>
    <keyComplexObject>
        <complexObject>
            <testInt>6789</testInt>
            <testString>TestString</testString>
            <testBool>false</testBool>
        </complexObject>
    </keyComplexObject>
    <keyColor>
        <Color>
            <r>34</r>
            <g>5543</g>
            <b>254</b>
        </Color>
    </keyColor>
    <newTestInt>6</newTestInt>
    <keyTest>
        <testclassdata>
            <testint>23</testint>
            <teststring>testString</teststring>
            <testbool>true</testbool>
        </testclassdata>
    </keyTest>
</entries>